.hgcatalog{
width: 20rem;
height: 20rem;
transform: scale(1)
}
.hgcatalog:hover{
	
	background-color: greenyellow;
	display:inline-flex;
	align-items:baseline;
	transition: 200ms ease all;
	cursor:crosshair;
}
