.hgcatalog{
width: 10rem;
height: 10rem;
transform: scale(1)
}
.hgcatalog:hover{
	
	background-color: transparent;
	display:inline-flex;
	align-items:baseline;
	transition: 200ms ease all;
	cursor:crosshair;
}
