.hgcatalog{
width: 500px;
height: 500px;
transform: scale(1)
}
.hgcatalog:hover{
	widht: 500px;
	height: 500px;
	transform: scale(2)
	background-color: greenyellow;
	display:inline-flex;
	align-items:baseline;
	transition: 200ms ease all;
	cursor:crosshair;
}
